@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: black;
	color: white;
	max-width: 100dvw;
	overflow-x: hidden;
}

.imagepage {
	width: 100dvw;
	/* height: 90dvh; */
	display: flex;
	overflow: hidden;
	max-width: 100dvw;
	/* max-height: 90dvh; */
	aspect-ratio: 16 / 9;
	background: linear-gradient(
			294deg,
			rgba(0, 0, 0, 0) 35.67%,
			rgb(0 0 0 / 75%) 91.77%,
			#000000 100%
		),
		linear-gradient(
			0deg,
			#000000 0.15%,
			#000000 -17.5%,
			rgba(0, 0, 0, 0) 23%
		);
	position: relative;
}

.heroinfo {
	display: flex;
	flex-direction: column;
	max-width: max(36vw, 651px);
	z-index: 2;
	position: relative;
}
.moviecards {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	gap: 10px;
}
.moviecarditem {
	border-radius: 5px;
	width: -webkit-fill-available;
}
.sdfsdfe3fe {
	/* height: calc((100dvw - 20px) / 10); */
	border-radius: 5px; 
	transition: transform 0.2s ease-in-out;
	cursor: pointer;
}

.sdfsdfe3fe:hover {
	transform: scale(1.15);
	z-index: 999;
	position: relative;
}



html {
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar { 
	display: none;  /* Safari and Chrome */
}

.scrollred{
	width: 4px;
	position: fixed;
	/* height: 80dvh; */
	background-color: #db1e2c;
	right: 0px;
	z-index: 99;
}
