@tailwind base;
@tailwind components;
@tailwind utilities;

html,
.dialogoverlay {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar,
.dialogoverlay::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

body {
	background-color: #181818;
	color: white;
	max-width: 100dvw;
	overflow-x: hidden;
}